html, body {font-family: arial; text-size-adjust: 150%}
h1 {color: #e79fc4 !important; text-align: center; padding-top: 2%; padding-bottom: 2%;}
.url {color: #e79fc4 !important;}
.post {margin-left: 5%; width: 50%; padding-top: 4%;}
