footer {background-color: #e79fc4 !important; position: fixed; left: 0px; bottom: 0px; width: 100%}
.footer-list {margin-right: 5%;}
.footer-li {margin-right: 5%;}
.footer-link {color: white !important;}
